@charset "utf-8";

body {
	width: 100%;
	}
	.redbox {
		position: absolute;
		width: 400px;
		height: 100px;
		background: #ff0000;
	}
	.container {
		position: relative;
		float: right;
		top: 20px;
		right: 20px;
		background-color: #fff;
		border-width: 10px;
		border-color: #fff;
		border-style: solid;
	}
	.item {
		float: right;
		background-color: #a9004b;
		width: 40px;
		height: 40px;
		margin-left: 10px;
	}
	.item:last-child {
		margin-left: 0px;
	}
	.main {
		float: left;
		}
	.greenbox {
		position: absolute;
		top: 100px;
		width: 150px;
		height: 250px;
		background: #00ff51;
	}
	.brownbox {
		position: absolute;
		top: 100px;
		left: 150px;
		width: 250px;
		height: 250px;
		background: #8c2727;
	}
	.item2 {
		position: relative;
		top: 40px;
		left: 40px;
		background: #ff863f;
		border-width: 5px;
		border-color: #fff;
		border-style: solid;
		width: 140px;
		height: 40px;
		margin-top: 10px;
	}
	.item2:first-child {
		margin-top: 0px;
	}
	.yellowbox {
		position: relative;
		top: 350px;
		width: 400px;
		height: 100px;
		background: #ffd000;
	}
	.clearfix::after {
		content: "";
		display: block;
		clear: both;
	}